@using Microsoft.AspNetCore.Identity
@using WEBTRUYEN.Repository

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web truyện</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homeLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEBTRUYEN.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <div class="d-none d-lg-block ">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between py-3">
                <div class="d-flex align-items-center gap-5">
                    <h4 class="m-0">WEBTRUYEN</h4>
                    <form asp-action="Comics" method="get">
                        <div class="input-group">
                            <input name="searchValue" type="text" class="form-control my-input"
                                placeholder="Bạn muốn tìm gì ?" value="@ViewBag.searchValue">
                            <button class="btn btn-primary my-button" type="submit">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <partial name="_loginPartial" />
                </div>
            </div>
        </div>
    </div>
    <div class="my-nav">
        <nav class="navbar navbar-expand-xl w-100">
            <div class="container">
                <a class="navbar-brand d-block d-lg-none">WEBTRUYEN</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
                        <i class="bi bi-list"></i>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item d-block d-lg-none">
                            <div class="d-flex justify-content-start align-items-center gap-1">
                                <partial name="_loginPartial" />
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase text-white ps-0" asp-controller="Home"
                                asp-action="Index">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase text-white" asp-controller="Home" asp-action="comics">TẤT
                                CẢ</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a asp-controller="Following" asp-action="Index" class="nav-link text-uppercase text-white">
                                    THEO
                                    DÕI</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="History" asp-action="Index"
                                    class="nav-link text-uppercase text-white">LỊCH SỬ</a>
                            </li>
                        }
                        <li class="nav-item d-block d-lg-none">
                            <form asp-action="Comics" method="get">
                                <div class="input-group">
                                    <input name="searchValue" type="text" class="form-control text-white my-input"
                                        placeholder="Bạn muốn tìm gì ?" value="@ViewBag.searchValue">
                                    <button class="btn btn-primary my-button" type="submit">Tìm kiếm</button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            @await Component.InvokeAsync("Genres")
                            @* <a class="my-dropdown-toggler nav-link text-white">THỂ LOẠI</a>
                            <div class="my-dropdown-menu">
                                <div class="container">
                                    <div class="row">
                                        @if (@ViewBag.Genres != null)
                                        {
                                            @foreach (var item in @ViewBag.Genres)
                                            {
                                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-2">
                                                    <a asp-controller="Home" asp-action="Comics" asp-route-genreId="@item.Id"
                                                        class="text-decoration-none d-inline-block">@item.Name</a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div> *@
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="container mt-3 mb-3 contents">
        @RenderBody()
    </div>

    <div class="my-footer">
        <div class="container">
            &copy; 2025 - WEBTRUYEN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/homeLayout.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>
