@model WEBTRUYEN.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Delete User";
}

<nav class="mt-2 mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Admin" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="User" asp-action="Index">Danh sách người dùng</a></li>
        <li class="breadcrumb-item active" aria-current="page">Xóa người dùng</li>
    </ol>
</nav>

<h3 class="mb-5">Xóa người dùng ( Không thể khôi phục !!! )</h3>

<div>
    <h4>Thông tin người dùng</h4>
    <hr />
    <dl class="row text-white">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="ConfirmDelete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-3 flex-column flex-sm-row">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success">Quay lại</a>
        </div>
    </form>
</div>
