@model IEnumerable<WEBTRUYEN.Models.Comic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Danh sách truyện";
}

<nav class="mt-2 mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh sách truyện</li>
    </ol>
</nav>

<h3 class="mb-5">📚 Danh sách truyện</h3>


<div class="d-flex flex-sm-row flex-column">
    <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
</div>

<div class="table-responsive">
    <table class="table table-dark mt-3">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoverUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th>
                    Tác vụ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style=" min-width: 80px;">
                        <img src="@Html.DisplayFor(modelItem => item.CoverUrl)" style="width: 80px;" />
                    </td>
                    <td style="min-width: 300px; width: 300px;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="min-width: 180px;">
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td style="min-width: 180px;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td style="min-width: 140px;">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td style="min-width: 140px;">
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td style="min-width: 300px;">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a>
                        <a class="btn btn-success ms-2" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                        <a class="btn btn-danger ms-2" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>