@model IEnumerable<WEBTRUYEN.Models.Comic>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tất cả truyện";
}

<div class="p-3 bg-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">Trang
                    chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tất cả truyện</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="mb-0 d-inline-block">
            Tất cả truyện
            @if (@ViewBag.genre != null)
            {
                
                <span>thể loại <strong>@ViewBag.genre.Name</strong></span>
                
            }
        @if (!string.IsNullOrEmpty(@ViewBag.searchValue)){
            <span>có tên giống với <strong>"@ViewBag.searchValue"</strong></span>
        }
        @if (@ViewBag.genre != null || !string.IsNullOrEmpty(ViewBag.searchValue))
        {
            <a asp-controller="Home" asp-action="Comics" class="m-0 text-decoration-none">( Bỏ lọc )</a>
        }
    </h5>
    </div>
    <hr>
    @if (Model != null && Model.Any()){
        <div class="row mb-3">
            @foreach (var item in Model){
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hover-scale p-3">
                    <a asp-action="ComicDetails" asp-route-id="@item.Id" class="card-link">
                        <!-- 3 cột trên màn hình lớn, 2 cột trên màn hình nhỏ -->
                        <div class="card shadow-sm h-100 d-flex flex-column my-card">
                            <img src="@Html.DisplayFor(modelItem => item.CoverUrl)" class="card-img-top" alt="@item.Name">

                        <div class="card-body text-center d-flex flex-column ">
                            <h5 class="card-title text-truncate line-clamp-2">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text mb-1 mt-auto">
                                    @(item.Chapters?.OrderByDescending(c => c.CreatedDate).FirstOrDefault()?.Name ?? "Chưa có chương")
                            </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }else{
        <div class="alert alert-light text-center" role="alert">
            Trống
        </div>
    }
    <div class="d-flex justify-content-center gap-2">
        @if (@ViewBag.PageNumber > 0)
        {
            <a asp-controller="Home" asp-action="Comics" asp-route-pageNumber="@(ViewBag.PageNumber - 1)" asp-route-searchValue="@ViewBag.SearchValue" asp-route-genreId="@ViewBag.genreId"
                class="btn btn-primary my-button">Trang trước</a>
        }
        else
        {
            <button class="btn btn-secondary my-button" disabled>Trang trước</button>
        }
        @if (@ViewBag.PageNumber < @ViewBag.TotalPages - 1)
        {
            <a asp-controller="Home" asp-action="Comics" asp-route-pageNumber="@(ViewBag.PageNumber + 1)" asp-route-searchValue="@ViewBag.SearchValue" asp-route-genreId="@ViewBag.genreId" class="btn btn-primary my-button">Trang
                sau</a>
        }
        else
        {
            <button class="btn btn-secondary my-button" disabled>Trang sau</button>
        }
    </div>
</div>