@model MangaReader.Models.Chapter

@{
    ViewData["Title"] = "Chương";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var chaptersFolder = ViewBag.ChaptersFolder;
    var mangasFolder = ViewBag.MangasFolder;
    var basePath = ViewBag.BasePath;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" asp-area="Dashboard" asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none" asp-area="Dashboard" asp-controller="Mangas" asp-action="Index">Truyện</a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-area="Dashboard"
               asp-controller="Mangas"
               asp-action="Details"
               asp-route-id="@Model.MangaId">
                @Model.Manga?.Title
            </a>
        </li>
        <li class="breadcrumb-item" >
            <a class="text-decoration-none"
               asp-area="Dashboard"
               asp-controller="Chapters"
               asp-action="MangaChapters"
               asp-route-mangaId="@Model.MangaId">
                Chương
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @Model.Title
        </li>
    </ol>
</nav>


<h3 class="mb-0">Chi tiết chương <span class="text-primary">@Model.Title</span> của truyện <span class="text-primary">@Model.Manga?.Title</span></h3>


<div class="card shadow-sm p-3 rounded-0 shadow-sm">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Model.UpdatedAt.ToString("yyyy-MM-dd HH:mm")
        </dd>
    </dl>
    <div class="d-flex flex-column flex-sm-row gap-2">
        <a class="btn btn-warning text-white" asp-area="Dashboard" asp-controller="Chapters" asp-action="Edit" asp-route-id="@Model?.Id">Cập nhật</a>
        <a class="btn btn-danger" asp-area="Dashboard" asp-controller="Chapters" asp-action="Delete" asp-route-id="@Model?.Id">Xóa</a>
        <a class="btn btn-secondary" asp-area="Dashboard" asp-controller="Chapters" asp-action="MangaChapters" asp-route-mangaId="@Model?.MangaId">Quay lại</a>
    </div>
</div>

<h3 class="mb-0">Trang truyện</h3>

<div class="row">
    @if (Model != null && Model.Pages.Any())
    {
        @foreach (var item in Model.Pages)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                <div class="card rounded-0 shadow-sm">
                    <img src="@($"/{basePath}/{mangasFolder}/{Model.Manga?.Slug}/{chaptersFolder}/{Model.Slug}/{item.Image}")" class="img-fluid" alt="Page image">
                </div>
            </div>
        }
    }
</div>