@model MangaReader.ViewModels.MangaChaptersViewModel
@using MangaReader.Utils.Constants
@using MangaReader.Utils

@{
    ViewData["Title"] = "Chương";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var PageableDto = ViewBag.PageableDto as MangaReader.Dto.PageableDto ?? new MangaReader.Dto.PageableDto();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" asp-area="Dashboard" asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none" asp-area="Dashboard" asp-controller="Mangas" asp-action="Index">Truyện</a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-area="Dashboard"
               asp-controller="Mangas"
               asp-action="Details"
               asp-route-id="@Model.MangaId">
                @Model.MangaTitle
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Chương
        </li>
    </ol>
</nav>

<h3 class="mb-0">Danh sách chương của truyện <span class="text-primary">@Model.MangaTitle</span></h3>

<div class="card rounded-0 p-3 d-flex flex-column gap-3 shadow-sm">

    <form asp-area="Dashboard" asp-controller="Chapters" asp-action="MangaChapters" asp-route-mangaId="@Model.MangaId" class="d-flex flex-md-row flex-column gap-3">
        <div class="d-flex align-items-center gap-1 flex-shrink-0">
            <label for="limit" class="form-label flex-shrink-0 m-0">Giới hạn: </label>
            <select id="limit" name="limit" class="form-select w-auto" onchange="this.form.submit()">
                @{
                    var sizes = new[] { 5, 10, 15, 20, 50 };
                }
                @foreach (var size in sizes)
                {
                    <option value="@size" selected="@(size == PageableDto.Limit)">@size</option>
                }
            </select>
        </div>

        <div class="row">
            <div class="input-group col-lg-8">
                <input id="search" name="search" type="text" class="form-control"
                       placeholder="Tìm theo tên..." value="@PageableDto.Search">
                <button class="btn btn-primary d-flex align-items-center gap-1" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg> Tìm kiếm
                </button>
            </div>
        </div>

        <a class="btn btn-primary d-flex justify-content-center align-items-center gap-1" asp-area="Dashboard" asp-controller="Chapters" asp-route-mangaId="@Model.MangaId" asp-action="Create">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg> Mới
        </a>
    </form>

    @if (!string.IsNullOrWhiteSpace(PageableDto.Search))
    {
        <div class="alert alert-info py-2 px-3 d-flex flex-column flex-md-row gap-md-0 gap-2 justify-content-between align-items-center m-0">
            <span>
                Kết quả cho từ khóa: <strong>@PageableDto.Search</strong>
                (tổng: @Model.Chapers.TotalItems mục)
            </span> 
            <a asp-area="Dashboard" 
               asp-controller="Chapters"
               asp-action="MangaChapters"
               asp-route-mangaId="@Model.MangaId"
               asp-route-Limit="@PageableDto.Limit"
               class="btn btn-outline-secondary">
                Đặt lại
            </a>
        </div>
    }
    @if (Model.Chapers.Data.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Chapers.Data.First().Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Chapers.Data.First().CreatedAt)</th>
                        <th>@Html.DisplayNameFor(model => model.Chapers.Data.First().UpdatedAt)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Chapers.Data)
                    {
                        <tr>

                            <td class="table-col-6"><span class="d-inline-block text-truncate mw-100">@item.Title</span></td>
                            <td class="table-col-2"><span class="d-inline-block text-truncate mw-100">@item.CreatedAt</span></td>
                            <td class="table-col-2"><span class="d-inline-block text-truncate mw-100">@item.UpdatedAt</span></td>
                            <td class="table-col-2 text-end">
                                <a class="btn btn-sm btn-success ms-1" asp-area="Dashboard" asp-controller="Chapters" asp-action="Details" asp-route-id="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.364 3.5a.5.5 0 0 1 .5-.5H14.5A1.5 1.5 0 0 1 16 4.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 3 14.5V7.864a.5.5 0 1 1 1 0V14.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H7.864a.5.5 0 0 1-.5-.5" />
                                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 0 1H1.707l8.147 8.146a.5.5 0 0 1-.708.708L1 1.707V5.5a.5.5 0 0 1-1 0z" />
                                    </svg>
                                </a>
                                <a class="btn btn-sm btn-warning text-white" asp-area="Dashboard" asp-controller="Chapters" asp-action="Edit" asp-route-id="@item?.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg>
                                </a>
                                <a class="btn btn-sm btn-danger ms-1" asp-area="Dashboard" asp-controller="Chapters" asp-action="Delete" asp-route-id="@item?.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (Model.Chapers.TotalPages > 1)
        {
            <nav aria-label="Trang" class="d-flex justify-content-center mt-3">
                <ul class="pagination m-0">
                    <li class="page-item @(Model.Chapers.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link"
                           asp-area="Dashboard"
                           asp-controller="Chapters"
                           asp-action="MangaChapters"
                           asp-route-mangaId="@Model.MangaId"
                           asp-route-Page="@(Model.Chapers.CurrentPage - 1)"
                           asp-route-Limit="@PageableDto.Limit"
                           asp-route-Search="@PageableDto.Search">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.Chapers.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.Chapers.CurrentPage ? "active" : "")">
                            <a class="page-link"
                               asp-area="Dashboard"
                               asp-controller="Chapters"
                               asp-action="MangaChapters"
                               asp-route-mangaId="@Model.MangaId"
                               asp-route-Page="@i"
                               asp-route-Limit="@PageableDto.Limit"
                               asp-route-Search="@PageableDto.Search">
                                @i
                            </a>
                        </li>
                    }

                    <li class="page-item @(Model.Chapers.HasNextPage ? "" : "disabled")">
                        <a class="page-link"
                           asp-area="Dashboard"
                           asp-controller="Chapters"
                           asp-action="MangaChapters"
                           asp-route-mangaId="@Model.MangaId"
                           asp-route-Page="@(Model.Chapers.CurrentPage + 1)"
                           asp-route-Limit="@PageableDto.Limit"
                           asp-route-Search="@PageableDto.Search">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    }
    else
    {
        <div class="text-center text-muted p-5">
            Không có chương nào
        </div>
    }
</div>

